@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #050505;
  color: white;
  font-family: monospace;
}

.neon-text {
  color: #00f5ff;
  text-shadow: 0 0 10px #00f5ff;
}

.glass-card {
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(0,245,255,0.3);
}

.neon-button {
  padding: 12px 22px;
  border-radius: 12px;
  border: 1px solid #00f5ff;
}

.neon-button:hover {
  box-shadow: 0 0 20px #00f5ff;
}